
  <div class="well sidebar-nav">
    <ul class="nav">
      <li><%= image_tag @user.avatar.url(:medium) %></li>
      <li id="display_name"><%= @user.display_name %></li>
      <li><%= @user.about %></li>
      
    </ul>
  </div><!--/.well -->
