<div class="row">
	<h2>User Profile</h2>
	
    <div class="span9">
      <div class="jumbotron">
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
      </div>
      <div class="row">
        <% @looks.each do |l| %>
          <div class="span3">
            <% lp = l.lookPhotos.first %>
            <% unless lp.nil? %>
              <%= image_tag lp.photo.url %>
            <% end %>
            <p><%= l.description %></p>
            <p><%= link_to "View Details", look_path(l.id) %>></p>
          </div><!--/span-->
        <% end %>
        
      </div><!--/row-->
    </div><!--/span-->
    <div class="span3" id="user_sidebar">
      <%= render "layouts/user_sidebar" %>
    </div>
</div>
