@import "bootstrap";

html {
	overflow-y: scroll;
}



header {
	#navbar {
		max-height: 40px;
	}
	.header_actionbutton {
		max-height: 23px;
	}
	.header_icon {
		max-height: 23px;
	}
	.brand {
	font-family: 'Happy Monkey', serif;
	font-size: 48px;
	font-color: $white;
}
}

#main_body {
	margin-top: 80px;
}

#display_name {
	font-weight: bold;
	font-size: 32px;
	padding:10px 0px 10px 0px;
	line-height:120%;
}

// This is for signin form
.form-signin {
	margin-bottom: 10px;
	max-width: 300px;
	padding: 19px 29px 29px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}
// Apparently, it doesn't work!