@import "bootstrap";

html {
	overflow-y: scroll;
}

header {
	height: 50px;
}

body {
	padding-top: 40px;
}

#display_name {
	font-weight: bold;
	font-size: 32px;
	padding:10px 0px 10px 0px;
	line-height:120%;
}