<!-- _show_comments_by_look -->

	<% @look.comments.each do |c| %>
	<div class="row">
		<div class="span3">
			<%= image_tag c.user.avatar.url(:thumb) %>
		</div>
		<div class="span9">
			<p><%= c.text %></p>
		</div>
	</div>
	<% end %>
